body::-webkit-scrollbar { width: 0 !important }
body {
    margin: 0px;
}
.logo {
    border-radius: 50%;
    position: absolute;
    top: 20px;
    left: 60px;
    box-shadow: 0px 0px 10px #49d7da;
}
.img {
    width: 1536px;
    height: 300px;
    margin: none;
}
a{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
    text-align: center;
    color: aliceblue;
}
.connect {
    position: relative;
}
.btn1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gray;
    position: absolute;
    bottom: 30px;
    right: 50px;
    width: 150px;
    height: 20px;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 1px #49d7da;
}
.btn1:hover {
    transform: scale(1.1);
    background-color: #959595;
}
nav {
    width: 100%;
    background-color: #38a3a5;
}
nav ul {
    list-style-type : none;
    margin: 0px;
    display: flex;
    padding: 0px;
    box-shadow: 0px 2px 5px;
}
nav ul li {
    width: 25%;
    position: relative;
}
.a {
    border-right: 3px solid;
    border-color: aliceblue;
}
.b {
    border-left: 3px  solid;
    border-color: aliceblue;
    border: auto;
    /* height: 25px; */
}
nav a {
    display: block;
    text-decoration: none;
    color: aliceblue;
}
.sous {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: none;
    box-shadow: 2px 2px 5px;
    background-color: #38a3a5;
    position: absolute;
    width: 100%;
    z-index: 1000;
}
nav > ul li:hover .sous{
    display: block;
    border-top: 1px solid;
    border-color: aliceblue;
}
.sous li {
    color: aliceblue;
    float: none;
    width: 100%;
    text-align: left;
}
.sous li a {
    text-align: left;
}
.sous li a:hover {
    box-shadow: 1px 0px 5px black;
    background-color: #49d7da;
}
.footer img {
    width: 1524px;
    height: 250px;
    margin-bottom: 0px;
}