button {
    display: inline-block;
    background-color: #38a3a5;
    color: rgb(255, 255, 255);
    border: none;
    cursor: pointer;
    height: 20px;
}
.connect {
    position: relative;
}
.connect .btn1 {
    background-color: gray;
    position: absolute;
    bottom: 30px;
    right: 150px;
    width: 150px;
    height: 20px;
    border: none;
    border-radius: 3px;
}
.connect .btn {
    background-color: gray;
    position: absolute;
    bottom: 30px;
    right: 100px;
    height: 20px;
    border: none;
    border-radius: 3px;
}
.box  {
    display: flex;
    justify-content: space-between;
}
.box button {
    width: 300px;
    border: none;
    cursor: pointer;
}
.box1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.box1:first-child {
    padding-left: 39.8%;
    padding-right: 39.8%;

    /* margin-left: 598px;
    margin-right: 598px; */
    /* margin-left: 39.7%; */
    /* margin-right: 39.7%; */
}
.nom, .prenom {
    width: 125px;
}
h4,p {
    text-align: center;
    color: rgb(56, 163, 165);
}
h5 {
    text-align: center;
    color: rgb(255, 149, 0);
}
label, input {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
label {
    text-align: center;
    color: rgb(56, 163, 165)
}
.email, .password1, .password2, .confirm {
    width: 300px;
}
.text {
    width: 100px;
}
input {
    cursor: text;
}
.checkbox {
    cursor: pointer;
}
.valider {
    width: 10%;
    border-radius: 3px;
    height: 20px;
}