
.img1 {
  display: block;
  width: 60%;
  margin: auto;
  border : 3px outset rgb(56, 163, 165);
}
.border {
  margin: 0px;
  border-left: 100px solid rgba(127, 116, 116, 0.21);
  border-right: 100px solid rgba(127, 116, 116, 0.21);
  padding: 100px;
}
.border1 {
  color: rgb(56, 163, 165);
  border-left: blue 15px outset;
  text-align: center;
  padding: 1em;
}
.btn2 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: gray;
  position: absolute;
  bottom: 30px;
  right: 250px;
  width: 100px;
  height: 20px;
  border: none;
  border-radius: 10px;
}
.btn2:hover {
  transform: scale(1.1);
  background-color: #959595;
}
h4 {
  color : rgb(215, 145, 16)
}