img {
    display: block;
    width: 50%;
    margin: auto;
    border : 3px outset rgb(56, 163, 165);
  }
.img1 {
  display: block;
  width: 50%;
  margin: auto;
  border : 3px outset rgb(56, 163, 165);
}

.border1 {
  color: rgb(56, 163, 165);
  border-left: blue 15px outset;
  text-align: center;
  padding: 1em;
}

h4 {
  color : rgb(215, 145, 16)
}

body {
  margin: 0px;
  border: 100px solid rgba(127, 116, 116, 0.21);
  padding: 2em;
}