label,input {
    text-align: left;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}
button {
    background-color: rgb(56, 163, 165);
    color: rgb(255, 255, 255);
}

.bouton1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

.bouton2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

.box {
    display: flex;
    align-items: last baseline;
    justify-content:space-between;
}
.box :first-child {
    width: 302px;
    align-self: center;
    border: none;
    cursor: pointer;
}

h4 {
    text-align: center;
    color: rgb(99, 187, 191);
}