h4{
    font-family: cursive;
}

form {
    border: 5px solid rgb(56, 163, 165);
}

.bordergrey{
    border: 100px solid rgba(127, 116, 116, 0.21);
    }

[type="submit"] {background-color: rgb(56, 163, 165) ;
    color : black;
    border-radius : 30px;
}

textarea {
    text-align: left; 
}

/* changer taille largeur header width: 1536px; */