.logopied {
	width: 100px;
    
}
#contener {
    display: flex;
    position: relative;
    width: 100%h;
    height: 200px;
}
.footer .logopied {
	border-radius: 50%;
	position: absolute;
	top: 40px;
	left: 100px;
}
 .footer .reseausociaux {
    position: absolute;
 }
.mentions {
    position: absolute;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin-left: 200px;
    color: white;
    margin-top: 50px;
}
.nouscontacter {
    position: absolute;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin-left: 200px;
    color: white;
    margin-top: 90px;

}

.reseausociaux {
    position: absolute;
    left: 85%;
    margin-top: 4%;

}
.xtweeter {
    margin-left: 20px;
}

.footer .adressefooter {
    position: absolute;
    margin-top: 40px;
    left: 30%;
    font-size: 10px;
    font-weight: bold;
    color: white;
}